@import "./partials/footernav";
@import "./partials/headernav";
@import "./partials/card.scss";
@import "./home.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #010409;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
    display: flex;
}

li,
input,
.btn-main-s {
    cursor: pointer;
}

footer,
header {
    position: static;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
